header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #00CC00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

nav, div.logo {
    width: 50%;
    margin-top: 19px;
    justify-content: center;
}

div.logo {
    position: absolute;
    right: -300px;
}

@media (max-width: 768px) {
    div.logo {
        position: absolute;
        right: -3px;
    }

    div.logo {
        display: none;
    }
}

ul li {
    display: inline;
    justify-content: space-evenly;
    margin-left: 30px;
}

li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Gochi Hand', serif;
}

main {
    margin-top: 110px;
}

.greeting-title {
    font-family: 'Fasthand', serif;
    color: #00CC00;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;
}

.greeting-image {
    margin-left: 25%;
    margin-right: 25%;
    
}


/* Second half starts */











/* Second half ends */

/* Footer starts */
.btm_container {
    background-color: #3b3e3b;
    height: auto; 
    position:static; 
    bottom: 0px;
    width: 100%;
}

.btm_container1 {  
    display: flex; 
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 20px;
}

.socialm {  
    background-color:#3b3e3b;
    display: flex; 
    justify-content:space-around;
    margin: auto; 
    align-items: center;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.socialm a {
    text-decoration: none;
    color: white;   
}

.facebook :hover {
    text-decoration: none;
    color: #4267B2;
}

.instagram :hover {
    text-decoration: none;
    color: #833AB4; 
}

.whatsapp :hover{
    color: rgb(5, 207, 5) !important;
}

.youtube :hover {
    text-decoration: none;
    color: #FF0000; 
}

.twitter :hover {
    text-decoration: none;
    color: #1DA1F2;
}

.Copyright {   
    background-color: #3b3e3b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: small;
}

.fline {
    color: rgb(93, 92, 92);
}

.signup {
    display: flex;
    align-items:stretch;
}


/* Footer ends */