/* Header starts */
header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #00CC00;
    color: #fff;
    border-bottom: 4px solid #fdb347;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  ul li {
    display: inline;
    justify-content: space-evenly;
    margin-left: 30px;
}

li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Gochi Hand', serif;
}

li a:hover {
    color: blueviolet;
}

/* Header ends */

body {

}

/* Main starts */
.mainyfooter {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;

} 

h3 {
    font-size: 34px;
    font-family: 'Gochi Hand', serif;
    margin-left: auto;
}

.ingredientes {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
    
#carouselExampleIndicators {
    margin: 3em auto;
    width: 600px;
}
.carousel-item img {
    max-width: 600px;
    max-height: 600px;

    }


.ingredients ul {
    display: flex;
    flex-direction: column;
}
/* Main ends */
/* Footer starts */
.btm_container {
    background-color: #3b3e3b;
    height: auto; 
    position:static; 
    bottom: 0px;
    width: 100%;
}

.btm_container1 {  
    display: flex; 
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 20px;
}

.socialm {  
    background-color:#3b3e3b;
    display: flex; 
    justify-content:space-around;
    margin: auto; 
    align-items: center;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.socialm a {
    text-decoration: none;
    color: white;   
}

.facebook :hover {
    text-decoration: none;
    color: #4267B2;
}

.instagram :hover {
    text-decoration: none;
    color: #833AB4; 
}

.whatsapp :hover{
    color: rgb(5, 207, 5) !important;
}

.youtube :hover {
    text-decoration: none;
    color: #FF0000; 
}

.twitter :hover {
    text-decoration: none;
    color: #1DA1F2;
}

.Copyright {   
    background-color: #3b3e3b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: small;
}

.fline {
    color: rgb(93, 92, 92);
}

.signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/* Footer ends */